{% extends "account/base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}
c
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'Bangusu/css/login_style.css' %}">
{% endblock %}

{% block content %}
<div class="header">
  <div class="logo_wrapper_left" style="letter-spacing: 0.335em">
      <a class="homelogolink" href="{% url 'bnsu:start_page' %}">Bangusu</a>
  </div>
</div>

<div class="form-wrapper log downmore">
  <p>{% trans 'Are you sure you want to sign out?' %}</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="contact-form__button" type="submit">{% trans 'Sign Out' %}</button>
  </form>
</div>
{% endblock %}
